* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  text-align: center;
  background-image: linear-gradient(to right, #232833 , #3a404a);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: #4970a0;
  border: 0;
  background: transparent;
  outline: none;
  font-size: min(1vw, 14px);
}

button:hover {
  color: #6f9cd4;
  cursor: pointer;
}

button:active {
  color: #3c6182;
}

button[data-disabled="true"] {
  pointer-events: none;
}

button[data-disabled="true"]::before, button[data-disabled="true"]::after {
  display: inline-block;
  content: "";
  width: 1em;
}

button[data-disabled="true"]::after {
  animation: loading 0.8s infinite;
  text-align: left;
}

@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

span {
  padding: 0 6px;
  position: relative;
}

span .node, span .list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

span .list {
  background-color: #424d5d;
}

span .node {
  background-color: #7f8ca0;
}